/* print page */
@media print {
    
    .header-left-top, .a-right-bottom, .time-right-bottom, a {
    display: none;
    }
    .pagebreak {
        /* page-break-before: always; */
        margin-bottom: 180px;
    }
    .tagContainer{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}

/* body{
    background-image: url('back.jpg');
    background-size: 100%;
    background-attachment: fixed ;
	background-position: center;
} */

/* prevent default */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* main page */
.main{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form{
    margin-top: 10%;
    padding: 20px;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgba(221, 0, 255, 0.5), rgba(21, 0, 255, 0.7));
    background-color: rgba(221, 0, 255, 0.3);
    border-radius: 30px;
}

.form input, select{
    width: 110px;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.form input{
    width: 104px;
}


.list{
    margin-top: 50px ;
}

.showButton{
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 150px;
    height: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.showButton:hover{
    background-color: rgba(221, 0, 255, 0.4);
}

.searchButton{
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 20px;
    text-align: center;
    color: black;
    background-color: white;
    width: 130px;
}

.searchButton:hover{
    background-color: rgba(221, 0, 255, 0.4);
}














/* containers */
.tagContainer{
    width: 1000px;
}
.tagContainer a{
    font-size: 30px;
}
.rowTags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* pricetag */
.priceTag{
    background-color: white;
    border: 1px solid black;
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
}

.priceTagBottom{
    display: flex;
    justify-content: space-between;
}

/* fields */
#itemName{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    height: 58px;
    overflow: hidden;
}

#percent{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#itemPrice{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    height: 60px;
}
#itemPrice1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    height: 30px;
}
#docDate{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
#itemCode{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
#oldPrice{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: line-through solid rgba(0, 0, 0, 0.75) 1px;
}
#oldPriceHeader{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
