/* print page */
@media print {

    .header-left-top,
    .a-right-bottom,
    .time-right-bottom,
    a {
        display: none;
    }

    .pagebreak {
        width: 100%;
        height: 170px;
        color: white;
    }

    .tagContainer {
        margin-top: 20px;
        margin-left: 20px;
    }

    h1 {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

* {
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: rgba(0, 0, 255, 0.2);
}

/* prevent default */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* main page */
.main {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form {
    margin-top: 5%;
    padding: 20px;
    width: 800px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(45deg, rgba(21, 0, 255, 0.2), rgba(21, 0, 255, 0.5));
    border-radius: 30px;
}

.form input,
select {
    width: 110px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.form input {
    width: 104px;
}

.headerBack {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 20px;
}
.tableHeader{
    animation: spawn 2s;
}

.list {
    margin-top: 50px;
}

.showButton {
    display: block;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 150px;
    height: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.showButtonDisabled {
    display: block;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 150px;
    height: 20px;
    text-align: center;
    color: black;
    background-color: gray;
}

.showButtonDisabled:hover {
    cursor: not-allowed;
}

.showButton:hover {
    background-color: rgba(0, 0, 255, 0.2);
    transition: 0.3s;
}

.searchButton {
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 20px;
    text-align: center;
    color: black;
    background-color: white;
    width: 130px;
}

.searchButton:hover {
    transition: 0.3s;
    background-color: rgba(0, 0, 255, 0.2);
}

/* containers */
.tagContainer {
    width: 1000px;
}

.tagContainer a {
    font-size: 30px;
}

.rowTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: none;
}


/* --------------------------------------------------------------------------------small pricetag */
.priceTag {
    background-color: white;
    border: 1px solid black;
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
}

.priceTagBottom {
    display: flex;
    justify-content: space-between;
}

/* fields */
#itemName {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    height: 44px;
    overflow: hidden;
}

#percent {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#itemPrice {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    height: 60px;
}

#itemPrice1 {
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
}

#docDate {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#itemCode {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#oldPrice {
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: line-through solid rgba(0, 0, 0, 0.75) 1px;
    height: 39px;
}

#oldPriceHeader {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

/* --------------------------------------------------------------------------------big pricetag */
.priceTagBig {
    background-color: white;
    border: 1px solid black;
    width: 400px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
}

.priceTagBigDisc{
    background-color: white;
    border: 1px solid black;
    width: 400px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
}

.priceTagBottomBig {
    display: flex;
    justify-content: space-between;
}

/* fields */
#itemNameBig {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    height: 29px;
    overflow: hidden;
}

#percentBig {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transform: scale(1, 1.2);
}

#itemPriceBig {
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
}

#itemPrice1Big {
    font-size: 57px;
    font-family: 'Times New Roman', Times, serif;
}

#itemPriceMin10Big {
    transform: scale(1, 1.3);
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
}

#docDateBig {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#itemCodeBig {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#oldPriceBig {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: line-through solid rgba(0, 0, 0, 0.75) 1px;
    height: 60px;
}

#oldPriceHeaderBig {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: normal;
    height: 7px;
}


/* --------------------------------------------------------------------------------table */
#items {
    margin: 30px;
    border-collapse: collapse;
    width: 100%;
    animation: fromRight 1s;
}

#items td,
#items th {
    border: 1px solid #ddd;
    padding: 8px;
}

#items tr {
    background-color: white;
    text-align: center;
}

#items tr:nth-child(even) {
    background-color: #f2f2f2;
}

#items tr:hover {
    background-color: #ddd;
    transition: 0.3s;
}


#items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-image: linear-gradient( rgba(0, 0, 255, 0.35), rgba(0, 0, 255, 0.35));
    color: white;
}

#items th:first-child {
    background-image: linear-gradient(to left, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.5));
}

#items th:last-child {
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.5));
}


.plusminusButton {
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

/* --------------------------------------------------------------------------------loader */
.lds-ripple {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 100px;
    height: 100px;


}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fcf;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 148px;
        left: 148px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 148px;
        left: 148px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 148px;
        left: 148px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 296px;
        height: 296px;
        opacity: 0;
    }
}

.dark {
    transition: 0.5s;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: wait;
    z-index: 9999;
}

/* --------------------------------------------------------------------------------animations */
@keyframes fromRight{
    0%{
        position: relative;
        left: 1000px;
    }
    99%{
        position: relative;
        left: 0px;
    }
    100%{
        position: initial;
    }
}

@keyframes spawn {
    from {color: transparent;}
  }
